:root {
  --text-primary: #1c1e3e;
  --text-theme-primary: #0073c0;
  --text-secondary: #48bd25;
  --bg-primary: #1c1e3e;
  --bg-seconday: #48bd25;
}

body {
  background-color: #f1f1f1;
  font-size: 1.1vw;
  color: var(--text-primary);
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.gugi-regular {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
}

.bg-info {
  background-color: var(--bg-seconday) !important;
}

.bg-primary {
  background-color: var(--bg-primary) !important;
}

.text-info {
  color: var(--text-secondary) !important;
}

.text-justify {
  text-align: justify;
}

nav {
  .logo {
    // position: relative;
    // // padding: 20px;

    img {
      // position: relative;
      width: 200px;
      // scale: 2;
      // top: 15px;
      // left: 90px;
    }
  }

  .nav-item {
    padding-left: 16px;
    padding-right: 16px;

    &:last-child {
      padding-right: 0;
    }
  }

  .nav-link {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1px;
    padding: 0 !important;
    color: var(--text-secondary);
    position: relative;
    font-size: 0.875rem;
    font-weight: 500;
    text-transform: uppercase;

    &:hover {
      color: var(--text-primary) !important;
      &::before {
        width: 100%;
      }
    }

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0%;
      height: 2px;
      background-color: var(--bg-primary);
      transform: all 0.2s ease;
    }
  }
}

.hero {
  // padding: 80px 0;
  // background-image: url("../images/mask_group.png");
  // background-repeat: no-repeat;
  // background-size: contain;
  // height: 1650px;
  // margin-bottom: 380px;

  .head-1 {
    // height: calc(100vh - 84px);
    padding: 80px 0;
  }

  .mask-img-1 {
    text-align: center;
    img {
      width: 460px;
    }
  }

  .head-2 {
    // height: calc(100vh - 84px);
    padding: 30px 0;
    position: relative;
    color: #fff;
    // .f21 {
    //   position: absolute;
    //   bottom: -106px;
    //   left: -108px;
    //   img {
    //     width: 460px;
    //   }
    // }

    .plane {
      width: 650px;
      margin: auto;
      img {
        width: 100%;
      }
    }
  }

  .head-3 {
    .card {
      height: 100%;
      .card-body {
        .img-fluid {
          height: 60px;
        }
      }
    }
  }

  .graidentdiv {
    width: 992px;
    padding: 30px;
    background: linear-gradient(to right, #009eb0, #48bd25);
    border-radius: 23px;
    // backdrop-filter: blur(5px);
    margin: 40px auto;
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 1rem;

    .heading {
      h1 {
        font-family: "Roboto", serif;
        font-weight: 400;
        font-style: normal;
      }
    }
  }

  .transparentdiv {
    background-color: var(--bg-primary);
    border-radius: 12px;
    display: flex;
    justify-content: center;
    padding: 3vw;
    font-size: 1rem;
    color: #fff;
    .transdiv {
      .logo {
        img {
          margin-bottom: 25px;
          height: 70px;
        }
      }
    }

    p {
      text-align: justify;
    }
  }
}

.sectors {
  // width: 992px;
  padding: 30px 30px 0 30px;
  background: linear-gradient(to right, #009eb0, #48bd25);
  border-radius: 23px;
  margin: 40px auto;
  display: flex;
  justify-content: center;
  gap: 10px;
  color: #fff;

  ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    li {
      padding-left: 25px;
      padding-right: 25px;
      display: flex;
      align-items: center;
      font-size: 1.1rem;
      font-weight: 500;
      margin-bottom: 30px;
      border-width: 2px !important;
      img {
        margin-right: 16px;
        height: 45px;
      }
    }
  }
}

.facilities {
  .card {
    height: 100%;
    background-color: white;
    .card-body {
      background-color: #2b2c40;
      font-size: 1rem;
    }
    img {
      height: 300px;
      object-fit: cover;
    }
    .absolute-heading {
      position: absolute;
      text-align: center;
      width: 100%;
      color: #2b2c40;
      top: 240px;
      h3 {
        font-size: 1.8rem;
      }
    }
  }
}

.contactSection {
  background-color: #fff;
  background-image: url("../../images/background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  padding: 80px 0;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.5);
    z-index: 1;
  }
}

footer {
  .footer-middle {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        line-height: 2.5;
        a {
          text-decoration: none;
          color: var(--text-theme-primary);
          font-weight: 500;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .footer-right {
    .social-icons {
      a {
        font-size: 2.5rem;
        &:hover {
          color: var(--text-secondary);
        }
      }
    }
    a {
      text-decoration: none;
      color: var(--text-theme-primary);
      font-weight: 500;
      transition: all 0.2s ease;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
