:root {
  --text-primary: #1c1e3e;
  --text-theme-primary: #0073c0;
  --text-secondary: #48bd25;
  --bg-primary: #1c1e3e;
  --bg-seconday: #48bd25;
}

body {
  background-color: #f1f1f1;
  font-size: 1.1vw;
  color: var(--text-primary);
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.gugi-regular {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
}

.bg-info {
  background-color: var(--bg-seconday) !important;
}

.bg-primary {
  background-color: var(--bg-primary) !important;
}

.text-info {
  color: var(--text-secondary) !important;
}

.text-justify {
  text-align: justify;
}

nav .logo img {
  width: 200px;
}
nav .nav-item {
  padding-left: 16px;
  padding-right: 16px;
}
nav .nav-item:last-child {
  padding-right: 0;
}
nav .nav-link {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1px;
  padding: 0 !important;
  color: var(--text-secondary);
  position: relative;
  font-size: 0.875rem;
  font-weight: 500;
  text-transform: uppercase;
}
nav .nav-link:hover {
  color: var(--text-primary) !important;
}
nav .nav-link:hover::before {
  width: 100%;
}
nav .nav-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: var(--bg-primary);
  transform: all 0.2s ease;
}

.hero .head-1 {
  padding: 80px 0;
}
.hero .mask-img-1 {
  text-align: center;
}
.hero .mask-img-1 img {
  width: 460px;
}
.hero .head-2 {
  padding: 30px 0;
  position: relative;
  color: #fff;
}
.hero .head-2 .plane {
  width: 650px;
  margin: auto;
}
.hero .head-2 .plane img {
  width: 100%;
}
.hero .head-3 .card {
  height: 100%;
}
.hero .head-3 .card .card-body .img-fluid {
  height: 60px;
}
.hero .graidentdiv {
  width: 992px;
  padding: 30px;
  background: linear-gradient(to right, #009eb0, #48bd25);
  border-radius: 23px;
  margin: 40px auto;
  display: flex;
  justify-content: center;
  gap: 10px;
  font-size: 1rem;
}
.hero .graidentdiv .heading h1 {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
}
.hero .transparentdiv {
  background-color: var(--bg-primary);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  padding: 3vw;
  font-size: 1rem;
  color: #fff;
}
.hero .transparentdiv .transdiv .logo img {
  margin-bottom: 25px;
  height: 70px;
}
.hero .transparentdiv p {
  text-align: justify;
}

.sectors {
  padding: 30px 30px 0 30px;
  background: linear-gradient(to right, #009eb0, #48bd25);
  border-radius: 23px;
  margin: 40px auto;
  display: flex;
  justify-content: center;
  gap: 10px;
  color: #fff;
}
.sectors ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.sectors ul li {
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 30px;
  border-width: 2px !important;
}
.sectors ul li img {
  margin-right: 16px;
  height: 45px;
}

.facilities .card {
  height: 100%;
  background-color: white;
}
.facilities .card .card-body {
  background-color: #2b2c40;
  font-size: 1rem;
}
.facilities .card img {
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}
.facilities .card .absolute-heading {
  position: absolute;
  text-align: center;
  width: 100%;
  color: #2b2c40;
  top: 240px;
}
.facilities .card .absolute-heading h3 {
  font-size: 1.8rem;
}

.contactSection {
  background-color: #fff;
  background-image: url("../../images/background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  padding: 80px 0;
  position: relative;
}
.contactSection::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

footer .footer-middle ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
footer .footer-middle ul li {
  line-height: 2.5;
}
footer .footer-middle ul li a {
  text-decoration: none;
  color: var(--text-theme-primary);
  font-weight: 500;
}
footer .footer-middle ul li a:hover {
  text-decoration: underline;
}
footer .footer-right .social-icons a {
  font-size: 2.5rem;
}
footer .footer-right .social-icons a:hover {
  color: var(--text-secondary);
}
footer .footer-right a {
  text-decoration: none;
  color: var(--text-theme-primary);
  font-weight: 500;
  transition: all 0.2s ease;
}
footer .footer-right a:hover {
  text-decoration: underline;
}/*# sourceMappingURL=about.css.map */